
/*100%宽度*/
.w {
    width: 100%;
}
.wI {
    width: 100% !important;
}
/*最小宽度*/
.mw {
    width: 700px;
}
.mg {
    margin: 2px;
}

.mlr {
    margin: 0 2px;
}

.mg8 {
    margin: 8px;
}

.pd16 {
    padding: 16px;
}

.pbc {
    background-color: #eee !important;
}


.c-bottom {
    margin-left: calc(100% - 125px);
}

.pd8 {
    padding: 8px;
}

.mgb0 {
    margin-bottom: 0px;
}

.input-group {
    padding: 7px 0px !important;
}


input.editable-select{background:#fff url(../img/arrow-down.gif) right center no-repeat;border:1px solid #ccc;padding:2px 8px 2px 4px}.editable-select-options{position:absolute;display:none;overflow:auto;margin:0;padding:0;background:#fff;border:1px solid #ccc;z-index:10}.editable-select-iframe{position:absolute;background:#fff;z-index:9;display:none}.editable-select-options ul{margin:0;padding:0;z-index:10;list-style:none;list-style-image:none}.editable-select-options li{cursor:default;padding:2px 4px}.editable-select-options li.selected{background:blue;color:#fff}